package ui

templ Home() {
	<div>
		<h1 class="text-3xl font-light">Home</h1>
		<p>This is the home page.</p>
		<div class="flex flex-col">
			<a href="/create">Create Link</a>
			<a href="/login">Login</a>
		</div>
	</div>
}
